$main_background: #FAFBFC;
$main_text_color: #6B7A99;
$main_purple: #8833FF;
$main_shadow:#6B7A99;
$main_red: #E62E2E;

$base_dark : #202B40;

$main_box_shadow: 0 0.3125rem 0.9375rem rgba($main_shadow,.2);

$main_transition: all .2s;