.modal_overlay{
    // background-image: url('@/assets/icons/covers/auth_bg.jpg');
    // background-size: cover;
    // background-attachment: fixed;
    // background-repeat: no-repeat;

    .popup{
        background: rgba(#FFFFFF,.2);
        backdrop-filter: blur(0.0625rem);
    }
}

.form_wrapper{

    form{

        ul{
            @include flex(center,center,column,0.9375rem);

            li{
                width: 100%;

                &.login_option_checkbox{
                    cursor: pointer;
                    margin-top: 0.625rem;
                    padding-bottom: 0.9375rem;
                    @include flex(space-between,center,row,unset);

                    input[type=checkbox]{
                        width: 1.0625rem;
                        height: 1.0625rem;
                    }

                    .login_option{
                        @include flex(center,center,row,unset);
                        span{
                            margin-left: 0.625rem;
                            color: #FFFFFF;
                        }
                    }
                }

                .switch_auth_method{
                    cursor: pointer;
                    margin-right: 0.3125rem;
                    text-align: right;
                    font-size: 0.9375rem;
                    color: #FFFFFF;

                    span{
                        color: #FFFFFF;
                        text-decoration: underline;
                        user-select: none;
                    }
                }
            }
        }
    }
}